mat-selection-list {
  max-height: 150px;
  overflow: auto;
}

mat-list-option:hover {
  background-color: #babdc2;
}

.mat-list-single-selected-option {
  background: #babdc2 !important;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
